div {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
textarea,
input[type="date"],
input[type="time"],
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-weight: bold;
}

.priority-container {
    display: flex;
    align-items: center;
}

select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#home{
    background-color: #abcaec;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin:5px;
}

#link{
    margin:8px 20px;
    padding:8px 33px;
}